<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home_school.login.mapper.LoginMapper">
  <select id="signCheck" parameterType="SignDto" resultType="int">
      SELECT
          COUNT(user_code)
      FROM tb_user
      WHERE user_code=#{userCode}
  </select>

    <insert id="userInsert" parameterType="SignDto">
        INSERT INTO
            homeschool.tb_user
            (
             user_id
            , user_type
            , user_status
            , frst_wrt_id
            , last_wrt_id
            , user_code
            )
        VALUES
            (
             #{userId}
            ,'USER'
            ,'y'
            ,#{userId}
            ,#{userId}
            ,#{userCode}
             );
    </insert>

    <select id="selectUser" parameterType="String" resultType="SignDto">
        SELECT
            user_code
            ,user_type
        FROM
            tb_user
        WHERE
            user_code = #{userCode}
        AND
            user_status = 'y'
    </select>

    <update id="signUpdate" parameterType="SignDto">
        UPDATE
            homeschool.tb_user
        SET
            user_type=#{userType}
          , last_wrt_dt=current_timestamp()
        WHERE user_code=#{userCode};
    </update>

</mapper>
