<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.home_school.admin.mapper.ExamMapper">
    <select id="examCnt" parameterType="PagingVo" resultType="int">
        SELECT
            COUNT(exam_no)
        FROM homeschool.tb_exam
        <where>
            <foreach collection="keywords" index="key" item="word" separator="and">
                <if test="key== 'examType'">
                    exam_type = #{word}
                </if>
                <if test="key== 'gradeNo'">
                    grade_no = #{word}
                </if>
                <if test="key== 'subjectNo'">
                    subject_no = #{word}
                </if>
                <if test="key== 'areaNo'">
                    area_no = #{word}
                </if>
                <if test="key== 'subareaNo'">
                    subarea_no = #{word}
                </if>
                <if test="key == 'examTitle'">
                    question_title LIKE CONCAT('%', #{word}, '%')
                </if>
            </foreach>
        </where>
    </select>

    <select id="readExamList" parameterType="PagingVo" resultType="ExamDto">
        SELECT
            exam_no
             , grade_no
             , subject_no
             , area_no
             , subarea_no
             , user_no
             , exam_type
             , exam_title
             , exam_tot_point
             , exam_time
             , frst_wrt_dt
             , frst_wrt_id
             , exam_qcnt
        FROM homeschool.tb_exam
        <where>
            <foreach collection="keywords" index="key" item="word" separator="and">
                <if test="key== 'examType'">
                    exam_type = #{word}
                </if>
                <if test="key== 'gradeNo'">
                    grade_no = #{word}
                </if>
                <if test="key== 'subjectNo'">
                    subject_no = #{word}
                </if>
                <if test="key== 'areaNo'">
                    area_no = #{word}
                </if>
                <if test="key== 'subareaNo'">
                    subarea_no = #{word}
                </if>
                <if test="key == 'examTitle'">
                    question_title LIKE CONCAT('%', #{word}, '%')
                </if>
            </foreach>
        </where>
        ORDER BY frst_wrt_dt DESC
        LIMIT #{rowPerPage} OFFSET #{startRow};
    </select>

    <select id="readExamDetail" parameterType="Long" resultType="ExamDto">
        SELECT
            exam_no
             , grade_no
             , subject_no
             , area_no
             , subarea_no
             , user_no
             , exam_type
             , exam_title
             , exam_tot_point
             , exam_time
             , frst_wrt_dt
             , frst_wrt_id
             , exam_qcnt
        FROM homeschool.tb_exam
        WHERE exam_no = #{examNo}
    </select>

    <select id="readExamQuestionDetail" parameterType="Long" resultType="ExamQuestionDto">
        SELECT
            order_no
            ,tq.question_no
            , question_title
            , question_image
            , question_answer
            , question_answer_image
            , question_point
            , question_num
            , question_writer_type
            , tqs.script_no
            , script_title
            , script_image
            , tq.subject_no
            , tq.grade_no
            , tq.area_no
            , tq.subarea_no
        FROM
            tb_question tq
            JOIN
            tb_exam_question teq
            ON tq.question_no =teq.question_no
            LEFT JOIN
            tb_question_script tqs
            ON tq.script_no =tqs.script_no
        WHERE exam_no =#{examNo}
        ORDER BY order_no;
    </select>

    <insert id="createExam" parameterType="ExamDto" useGeneratedKeys="true"
            keyProperty="examNo" keyColumn="exam_no">
        INSERT INTO
            homeschool.tb_exam
            (
            grade_no
            , subject_no
            , area_no
            , subarea_no
            , user_no
            , exam_type
            , exam_title
            , exam_tot_point
            , exam_time
            , frst_wrt_id
            , last_wrt_id
            , exam_qcnt
            )
        VALUES
            (
             #{gradeNo}
            , #{subjectNo}
            , #{areaNo}
            , #{subareaNo}
            , 1
            , 'm'
            , #{examTitle}
            , #{examTotPoint}
            , #{examTime}
            , 'MASTER'
            , 'MASTER'
            , #{examQcnt}
             );
    </insert>

    <insert id="createExamQuestion" parameterType="ExamDto">
            INSERT INTO
            homeschool.tb_exam_question
            (
            exam_no
            , order_no
            , question_no
            , frst_wrt_id
            , last_wrt_id
            )
            VALUES
        <foreach collection="examQuestionNo" index="orderNo" item="questionNo" separator=",">
            (
            #{examNo}
            , #{orderNo}
            , #{questionNo}
            , 'MASTER'
            , 'MASTER'
            )
        </foreach>
    </insert>

    <delete id="deleteExam" parameterType="Long">
        DELETE
        FROM homeschool.tb_exam
        WHERE exam_no=#{examNo};
    </delete>

    <update id="updateExam" parameterType="ExamDto">
        UPDATE homeschool.tb_exam
        SET
            grade_no=#{gradeNo}
          , subject_no=#{subjectNo}
          , area_no=#{areaNo}
          , subarea_no=#{subareaNo}
          , exam_title=#{examTitle}
          , exam_time=#{examTime}
          , exam_tot_point=#{examTotPoint}
          , exam_qcnt=#{examQcnt}
          , last_wrt_dt=current_timestamp()
          , last_wrt_id='MASTER'
        WHERE exam_no=#{examNo};
    </update>

    <update id="updateExamQuestion" parameterType="ExamDto">
        UPDATE
            homeschool.tb_exam_question
        SET
        <foreach collection="examQuestionNo" item="examQuestionNo">
            question_no=#{questionNo}
          , order_no = #{orderNo}
          , last_wrt_dt=current_timestamp()
          , last_wrt_id='MASTER'
        WHERE
            exam_question_no=#{examQuestionNo};
        </foreach>
    </update>

    <delete id="deleteExamQuestion" parameterType="Long">
        DELETE
        FROM homeschool.tb_exam_question
        WHERE exam_no=#{examNo};
    </delete>
    
    <select id="readExamQuestionCnt" parameterType="Long">
        SELECT
            COUNT(question_no)
        FROM
            tb_exam_question
        WHERE
            exam_no = #{examNo}
    </select>

    <select id="readExamTotPoint" parameterType="Long">
        SELECT
            SUM(question_point)
        FROM
            tb_question q
            JOIN
            tb_exam_question eq
            ON q.question_no = eq.question_no
        WHERE
            exam_no = #{examNo}
    </select>

</mapper>
